# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Django migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd

# Database
db.sqlite3


